@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #1b1b1b;
  font-family: "Plus Jakarta Sans";
  font-weight: 600;
}

:where(.css-dev-only-do-not-override-5wsri9).ant-menu-light .ant-menu-item-selected,
:where(.css-dev-only-do-not-override-5wsri9).ant-menu-light > .ant-menu .ant-menu-item-selected {
  @apply bg-transparent text-[#F5B754] !important;
}
.ant-menu .ant-menu-item-active {
  @apply bg-transparent  !important;
}

/* :where(.css-dev-only-do-not-override-5wsri9).ant-menu-inline .ant-menu-item,
:where(.css-dev-only-do-not-override-5wsri9).ant-menu-vertical .ant-menu-item,
:where(.css-dev-only-do-not-override-5wsri9).ant-menu-inline .ant-menu-submenu-title,
:where(.css-dev-only-do-not-override-5wsri9).ant-menu-vertical .ant-menu-submenu-title {
  @apply w-[8rem];
} */

.slick-list {
  @apply h-[23rem];
}

:where(.css-dev-only-do-not-override-5wsri9).ant-slider .ant-slider-rail {
  background-color: #fff; /* override default color */
}

:where(.css-dev-only-do-not-override-5wsri9).ant-slider .ant-slider-track {
  background-color: #f5b754;
}

:where(.css-dev-only-do-not-override-5wsri9).ant-slider .ant-slider-step {
  position: static;
  background: #fff;
}

:where(.css-dev-only-do-not-override-5wsri9).ant-spin .ant-spin-dot-item {
  background-color: #f5b754;
}
