@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #1b1b1b;
  font-family: "Plus Jakarta Sans";
  font-weight: 600;
}

:where(.css-dev-only-do-not-override-5wsri9).ant-menu-light .ant-menu-item-selected,
:where(.css-dev-only-do-not-override-5wsri9).ant-menu-light > .ant-menu .ant-menu-item-selected {
  @apply bg-transparent text-[#F5B754] !important;
}

.ant-menu .ant-menu-item-active {
  @apply bg-transparent  !important;
}

.slick-list {
  @apply md:h-[23rem] h-[18rem];
}

:where(.css-dev-only-do-not-override-5wsri9).ant-slider .ant-slider-rail {
  background-color: #fff; /* override default color */
}

:where(.css-dev-only-do-not-override-5wsri9).ant-slider .ant-slider-track {
  background-color: #f5b754;
}

:where(.css-dev-only-do-not-override-5wsri9).ant-slider .ant-slider-step {
  position: static;
  background: rgb(241 245 249) !important;
}

:where(.css-dev-only-do-not-override-5wsri9).ant-spin .ant-spin-dot-item {
  background-color: #f5b754;
}
:where(.css-dev-only-do-not-override-5wsri9).ant-collapse > .ant-collapse-item > .ant-collapse-header .ant-collapse-arrow {
  color: rgb(241 245 249) !important;
}

:where(.css-dev-only-do-not-override-5wsri9).ant-modal .ant-modal-content {
  background-color: #1b1b1b;
  color: rgb(241 245 249) !important;
}

.ant-modal-title {
  color: rgb(241 245 249) !important;
}

:where(.css-dev-only-do-not-override-5wsri9).ant-modal .ant-modal-header {
  background-color: #1b1b1b;
}

:where(.css-dev-only-do-not-override-5wsri9).ant-modal .ant-modal-content h3,
:where(.css-dev-only-do-not-override-5wsri9).ant-modal .ant-modal-content h4,
:where(.css-dev-only-do-not-override-5wsri9).ant-modal .ant-modal-content span {
  color: rgb(241 245 249) !important; /* Equivalent to text-slate-100 in Tailwind CSS */
}

:where(.css-dev-only-do-not-override-5wsri9).ant-form-vertical .ant-form-item:not(.ant-form-item-horizontal) .ant-form-item-label > label {
  color: rgb(241 245 249) !important;
}

:where(.css-dev-only-do-not-override-5wsri9).ant-table-wrapper .ant-table-thead th.ant-table-column-sort {
  background: #222222;
  color: rgb(241 245 249);
}

:where(.css-dev-only-do-not-override-5wsri9).ant-table-wrapper .ant-table-thead > tr > th {
  background: #222222;
  color: rgb(241 245 249);
}

.ant-table-cell {
  background: #222222;
  color: rgb(241 245 249);
}

:where(.css-dev-only-do-not-override-5wsri9).ant-table-wrapper td.ant-table-column-sort {
  background: #222222;
  color: rgb(241 245 249);
}

:where(.css-dev-only-do-not-override-5wsri9).ant-table-wrapper .ant-table-tbody > tr.ant-table-row:hover > td {
  background: #1b1b1b;
  color: #f5b754;
}

:where(.css-dev-only-do-not-override-5wsri9).ant-layout {
  background-color: #1b1b1b;
}

:where(.css-dev-only-do-not-override-5wsri9).ant-table-wrapper .ant-table-cell-fix-left {
  background: #222222;
  color: rgb(241 245 249);
}

:where(.css-dev-only-do-not-override-5wsri9).ant-card .ant-card-body {
  background-color: #222222;
  color: rgb(241 245 249);
}
